/* button BEM-block */

.button {
  display: inline-block;
  @include padding-vert(17px, 15px);
  @include padding-hor(15px);
  vertical-align: top;

  @include font(500, 16px, 18px);
  text-align: center;
  text-transform: uppercase;
  color: white;

  background-color: $red;
  @include states-bgcolor;
  @include states-color;
  border-style: none;
  border-radius: 3px;

  @include transition-color;

  &--gray {
    color: black;
    background-color: $gray;
    @include states-bgcolor(#dfdfdf, #d5d5d5);
    @include states-color(black, rgba(0, 0, 0, 0.3));
    &:active {
      box-shadow: inset 0 3px 0 0 #bfbfbf;
    }
  }
  &--green {
    background-color: $green;
    @include states-bgcolor(#00bc6c, #00aa62);
  }
  &--yellow {
    background-color: $yellow;
    @include states-bgcolor(#eab534, #e5a722);
  }
  &--strict-size {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  &--current {
    background-color: transparent;
    box-shadow: inset 0 0 0 3px #dbdbdb;
    @include states-bgcolor(transparent, transparent);
    @include states-color(black, black);
    &:active {
      box-shadow: inset 0 0 0 3px #dbdbdb;
    }
  }
}

.button__fix {
  position: relative;
  top: 0;
  left: 0;
}
