/* button BEM-block */

.button {
  display: inline-block;
  @include padding-vert(17px, 15px);
  vertical-align: top;

  @include font(500, 16px, 18px);
  text-transform: uppercase;
  color: white;

  background-color: $red;
  @include bgcolor-states;
  @include color-states;
  border-radius: 3px;

  &--color--gray {
    background-color: $gray;
  }
  &--color--green {
    background-color: $green;
    @include bgcolor-states(#00bc6c, #00aa62);
  }
  &--color--yellow {
    background-color: $yellow;
    @include bgcolor-states(#eab534, #e5a722);
  }
  &--section--advantages {
    @include padding-hor(55px);
  }
  &--section--services {
    @include padding-hor(40px);
  }
}

.button__fix {
  position: relative;
  top: 0;
  left: 0;
}
