/* catalog BEM-block */

.catalog {
  display: flex;
  padding-top: 57px;
}

.catalog__pane {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  &--left {
    align-items: flex-end;
    margin-right: 140px;
  }
  &--right {
    align-items: flex-start;
  }
}

.catalog__filter {
  width: 260px;
}

.catalog__sorting {
  width: 760px;
  margin-bottom: 55px;
}

.catalog__showcase {
  width: 760px;
  margin-bottom: 60px;
}

.catalog__pagination {
  width: 760px;
}
