/* clients BEM-block */

.clients__list {
  display: flex;
  flex-wrap: wrap;
  @include list-box;
  @include padding-vert(46px, 44px);

  @include bottom-gray;
}

.clients__item {
  @include outliner;

  width: 260px;
  &:not(:last-child) {
    position: relative;
    margin-right: 40px;
    &::after {
      @include pseudo;
      top: 18px;
      right: -21px;

      width: 2px;
      height: 52px;
      background-color: $gray;
    }
  }
}

.clients__link {
  display: block;
}

.clients__logo {
  display: block;
}
