/* controls BEM-block */

.controls {
  display: flex;
  @include list-box;
}

.controls__item:not(:last-child) {
  margin-right: 17px;
}

.controls__button {
  position: relative;

  display: block;
  width: 18px;
  height: 18px;
  background-color: white;

  border-style: none;
  border-radius: 50%;
  &::before {
    @include pseudo;
    top: 8px;
    left: 8px;

    width: 2px;
    height: 2px;

    border-radius: 50%;
    box-shadow:
      0 0 0 1px transparent,
      0 0 0 3px transparent;

    transition-property: box-shadow;
    transition-duration: 0.2s;
  }
  &:hover::before {
    box-shadow:
      0 0 0 1px white,
      0 0 0 3px #c1c1c1;
  }
  &:active::before {
    box-shadow:
      0 0 0 1px white,
      0 0 0 3px rgba(193, 193, 193, 0.5);
  }
  &--active::before {
    @include pseudo;
    top: 8px;
    left: 8px;

    width: 2px;
    height: 2px;

    border-radius: 50%;
    box-shadow:
      0 0 0 1px white,
      0 0 0 3px #c1c1c1;
  }
}
