/* feedback BEM-block */

.feedback {
  position: fixed;
  top: 10px;
  left: 50%;
  z-index: 2;

  display: none;
  width: 960px;
  margin-left: -480px;
  @include padding-vert(65px, 84px);
  @include padding-hor(100px);

  background-color: white;
  box-shadow: 0 20px 45px 5px rgba(0, 0, 0, 0.7);

  margin-bottom: 100px;
}

.feedback__title {
  @include margin-vert(0, 42px);
  @include font(500, 45px, 45px);
  color: black;
}

.feedback__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.feedback__item {
  margin-top: 0;
  &--input {
    width: 360px;
    margin-bottom: 33px;
  }
  &--textarea {
    width: 760px;
    margin-bottom: 47px;
  }
}

.feedback__legend {
  display: block;
  margin-bottom: 10px;
  @include font(700, 16px, 18px);
}

.feedback__field {
  display: block;
  width: 100%;
  @include padding-vert(14px, 14px);
  @include padding-hor(14px);
  @include font(400, 16px, 18px);
  color: #444444;

  border: 2px solid #d7dcde;
  border-radius: 3px;
  outline: none;
  transition-property: border-color;
  transition-duration: 0.2s;
  &::placeholder {
    color: rgba(68, 68, 68, 0.5);
  }
  &:hover {
    border-color: #b4b9bb;
  }
  &:focus {
    border-color: black;
  }
  &:invalid {
    color: #e74246;
    border-color: #e74246;
  }
  &--message {
    height: 118px;
    @include padding-vert(10px, 10px);
  }
}

.feedback__close {
  position: absolute;
  top: 77px;
  right: 90px;

  width: 21px;
  height: 21px;

  background-color: transparent;
  background-image: url("../img/close-cross.svg");
  background-repeat: no-repeat;
  border-style: none;

  opacity: 0.3;
  @include transition-opacity;
  &:hover {
    opacity: 1;
  }
  &:active {
    opacity: 0.1;
  }
}
