/* filter BEM-block */

.filter {
  @include outliner;
}

.filter__section {
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  border-style: none;
}

.filter__section-title {
  @include outliner;

  margin-bottom: 20px;
  @include font(700, 18px, 18px);
  text-transform: uppercase;
  color: black;
}

.filter__section-title--price {
  margin-bottom: 58px;
}

.filter__scale {

}

.filter__button {
  width: 100%;
}
