/* filter BEM-block */

.filter__section {
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  border-style: none;
}

.filter__section-title {
  margin-bottom: 20px;
  @include font(700, 18px, 18px);
  text-transform: uppercase;
  color: black;
}

.filter__section-title--price {
  margin-bottom: 58px;
}

.filter__list {
  @include list-box;
  @include font(400, 16px, 20px);
  color: $navy;
}

.filter__button {
  width: 100%;
}
