/* logo BEM-block */

.logo {
  display: block;
  width: 160px;
  height: 65px;
  &--inner {
    @include transition-opacity;
    &:hover {
      opacity: 0.8;
    }
    &:active {
      opacity: 0.3;
    }
  }
}

.logo-image {
  display: block;
  width: 160px;
  height: 65px;
}
