/* navigation BEM-block */

.navigation {
  display: flex;
  width: 800px;

  @include font(500, 16px, 30px);
  text-transform: uppercase;
  color: black;
}

.navigation__list {
  display: flex;
  flex-wrap: wrap;
  @include list-box;
  padding-top: 26px;

  &--site {
    max-width: 680px;
  }
  &--user {
    max-width: 360px;
    margin-left: auto;
  }
}

.navigation__item {
  &:not(:last-child) {
    margin-right: 47px;
  }
  &--current {
    background-image: linear-gradient(to top, $red 0, $red 2px, transparent 2px);
    .navigation__link {
      @include states-color(black, black);
    }
  }
}

.navigation__link {
  display: block;
  margin-bottom: 5px;
  @include transition-color;

  &--cart {
    position: relative;
    padding-left: 40px;

    &::before {
      @include pseudo;
      top: 7px;
      left: 0;

      width: 15px;
      height: 15px;
      background-image: url("../img/icon-cart.svg");
      background-repeat: no-repeat;
    }
  }
  @include states-color($red, rgba(0, 0, 0, 0.3));
}
