/* navigation BEM-block */

.navigation {
  display: flex;
  width: 800px;

  @include font(500, 16px, 30px);
  text-transform: uppercase;
  color: black;
}

.navigation__list {
  display: flex;
  flex-wrap: wrap;
  @include list-box;
  padding-top: 26px;

  &--site {
    max-width: 680px;
  }
  &--user {
    max-width: 360px;
    margin-left: auto;
  }
}

.navigation__item {
  margin-bottom: 4px;
  &:not(:last-child) {
    margin-right: 47px;
  }
  &--current {
    background-image: linear-gradient(to top, $red 0, $red 2px, transparent 2px);
  }
}

.navigation__link {
  display: block;
  margin-bottom: 5px;
  transition-property: color;
  transition-duration: 0.25s;
  transition-timing-function: ease;

  &--cart {
    position: relative;
    padding-left: 45px;

    &::before {
      @include pseudo;
      top: 7px;
      left: 5px;

      width: 15px;
      height: 15px;
      background-color: green;
    }
  }
  &:hover {
    color: $red;
  }
  &:active {
    color: rgba(0, 0, 0, 0.3);
  }
}
