/* page-footer BEM-block */

.page-footer {
  position: relative;
}

.page-footer__map {
  position: absolute;
  z-index: -1;
}

.page-footer__wrapper {
  &--top {
    @include padding-vert(54px, 54px);
  }
  &--bottom {
    @include padding-vert(68px, 70px);
    background-color: white;
  }
}
