/* Animations */

@keyframes bounce {
  0% {
    transform: translatex(-2000px);
  }
  70% {
    transform: translatex(50px);
  }
  85% {
    transform: translatex(-20px);
  }
  95% {
    transform: translatex(10px);
  }
  100% {
    transform: translatex(0);
  }
}

@keyframes shake {
 0%,
 100% {
   transform: translatey(0);
 }
 10%,
 30%,
 50%,
 70%,
 90% {
   transform: translatey(5px);
 }
 20%,
 40%,
 60%,
 80% {
   transform: translatey(-5px);
 }
}
