/* SCSS mixins */

@mixin bottom-gray {
  border-bottom: 2px solid $gray;
}

@mixin font($w: 400, $s: 16px, $lh: 24px) {
  font-weight: $w;
  font-size: $s;
  line-height: $lh;
  font-family: "Roboto", "Arial", sans-serif;
}

@mixin list-box {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  list-style-type: none;
}

@mixin margin-vert($mb: 0) {
  margin-top: 0;
  margin-bottom: $mb;
}

@mixin padding-hor($pdh: 20px) {
  padding-left: $pdh;
  padding-right: $pdh;
}

@mixin padding-vert($pdt: 10px, $pdb: 10px) {
  padding-top: $pdt;
  padding-bottom: $pdb;
}

@mixin pseudo {
  content: "";
  position: absolute;
}

@mixin states-bgcolor($hbg: #e74246, $abg: #d7373b) {
  &:hover {
    background-color: $hbg;
  }
  &:active {
    background-color: $abg;
  }
}

@mixin states-color($hc: white, $ac: rgba(255, 255, 255, 0.3)) {
  &:hover {
    color: $hc;
  }
  &:active {
    color: $ac;
  }
}

@mixin transition-color {
  transition-property:
    background-color,
    color;
  transition-duration:
    0.2s;
}

@mixin transition-opacity($op: 0.1s) {
  transition-property: opacity;
  transition-duration: $op;
}

@mixin unistring($size: 16px) {
  font-size: $size;
  line-height: $size;
}

/* TEMPORARY */

@mixin outliner {
  outline: 1px solid green;
  outline-offset: -1px;
}
